<% include partials/header %>
    <div class="container-fluid main-container">
        <div class="card main-card car-card">
            <div class="card-body">
                <h1 class="header">Cars, Cars, Cars</h1>
                <img src="/img/dealership.jpg" alt="car dealership" />
                <p class="bottom-nav">
                    Are you a 
                    <a href="/user">User</a> or
                    <a href="/login">Admin</a>?
                </p>
            </div>
        </div>
<style class="clear">
  body {
    background-image: url("<%=imageURL%>/>");
  }
  </styles>
    </div>
<% include partials/footer %>